<% include ./partials/header %>


<div class="container">	
	<header class="jumbotron">
		<div class="container">
			<h1> Welcome to NewNight </h1>
			<p>Find the trendiest bars near you!</p>
			<p>
				<a class="btn btn-primary btn-large"href="/polls/new">Start a new Poll</a>
			</p>
		</div>
	</header>

	<div class="row">
		<div class="col-lg-12">
			<h3>Latest polls from our users</h3>
		</div>
	</div>
	
</div>
<% include ./partials/footer %>