<% include ./partials/header %>


<div class="container">	
	<header class="jumbotron">
		<div class="container">
			<h1> Welcome to NewNight </h1>
			<p>Find the trendiest bars near you!</p>
		</div>
	</header>

	<div class="row">
		<div class="col-lg-12">
			<form class="form-inline" action="/bars" method="GET">
  				<div class="form-group">
    				<input type="text" class="form-control" name="location" placeholder="e.g Athens"required>
    				<button type="submit" class="btn btn-success">Search Bars</button>
  				</div>
			</form>

		</div>
	</div>
	
	
</div>
<% include ./partials/footer %>
